/* FOOTER */
.footer__redes--texto{
    color: map-get($colors, alternative);
    font-size: map-get($font-sizing, text-small);
}

.footer__links li a i{
    color: map-get($colors, alternative);
    font-size: map-get($font-sizing, text-medium);
    transition: 0.2s ease-in-out;
    &:hover{
        color: map-get($colors, primary);
        transform: translateY(-1rem);
    }
}

.footer__logo{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.footer__titulo--logo{
    color: map-get($colors, alternative);
    font-size: map-get($font-sizing, text-base);
    span{
        color: map-get($colors, primary);
    }
}

.footer__datos{
    font-size: map-get($font-sizing, text-small);
}

.footer p {
    font-size: map-get($font-sizing, text-small);
}

@media(min-width:768px){
    .footer__redes--texto{
        font-size: map-get($font-sizing, text-base);
    }
}
