
$colors: (
    primary: rgb(10, 110, 180),
    secondary: rgb(250, 200, 0),
    alternative: rgb(255 ,255 ,255),
    text-color: rgb(10, 10 , 10)
);

$spacing: (
    spacing-large: 5rem,
    spacing-medium: 2.5rem,
    spacing-small: 2rem,
    spacing-xsmall: 1rem
);


$font-sizing: (
    text-xlarge: 7em,
    text-large: 5em,
    text-medium: 3em,
    text-base: 1.8em,
    text-small: 1.2rem
);

$Font-family: (
    font-title: 'Gloss_And_Bloom',
    font-paragraph: 'Arima Madurai'
);
