

@mixin main__enlaces ($backgd) {
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: map-get($colors, alternative);
    font-size: map-get($font-sizing, text-base);
    font-weight: 500;
    background: $backgd;
    background-size: cover;
    position: relative;
    overflow: hidden;
    span{
        position: relative;
        z-index: 2;
        transition: 0.3s ease all;
    }
    &::after{
        content: "";
        width: calc(100% + 8rem);
        position: absolute;
        z-index: 1;
        top: 0;
        left: calc(-100% - 8rem);
        border-bottom: 8rem solid rgba($color: black, $alpha: 0.5);
        border-right: 8rem solid transparent;
        transition: 0.3s ease-in-out all;
    }
    &:hover{
        color: map-get($colors, alternative);
        span{
            transform: scale(1.2);
        }
    }
    &:hover::after{
        left: 0;
    }
}
